.searchresults-list {
  list-style-type: none;
  padding-left: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 16px;
  margin: 0;
  border-radius: 12px;

  background-color: #eee;
}
